*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}
.menu-topo-hamburguer{
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    /* z-index: 1000; */
}
.menu-topo-hamburguer::after,.menu-topo-hamburguer::before{
    content: '|';
    
}



#menu-topo{
 list-style: none;
 padding: 0;
 background: linear-gradient(139deg, rgba(0,0,0,1) 0%, rgba(45,53,64,1) 40%);
 width: 100%;
 height: 100vh;
 /* border-radius: 0 0 500px 500px; */
 transition: 1s;
 position: absolute;
 top: -100vh;
}
#menu-topo.showMenu{
    top: 60px;
}
#menu-topo  a{
    color: white;
    text-decoration: none;
}


#menu-topo li{
    background: rgba(255, 255, 255, 0.055);
    text-align: center;
    padding: 10px; 
    transition: .9s;
    
}
#menu-topo li:hover{
    
    box-shadow: inset 100em 1em rgba(255, 255, 255, 0.144);
}

.row{
    margin: 0;
    
}

.card-home div:nth-child(1){
    background-image: url('/img/card-home.jpg');
    width: 250px;
    height: 250px;
}
.card-home div:nth-child(2){
    background-image: url('/img/card-home.jpg');
    width: 250px;
    height: 250px;
}
.card-home div:nth-child(3){
    background-image: url('/img/card-home.jpg');
    width: 250px;
    height: 250px;
}
.card-home div:nth-child(4){
    background-image: url('/img/card-home.jpg');
    width: 250px;
    height: 250px;
}

.card-home div{
    opacity: .9;
    transition: .7s;
    cursor: pointer;
    position: relative;
}
.card-home div:hover{
    opacity: 1;
}
.card-home p{
   color: transparent;
   width: 100%;
   height: 100%; 
   display: block;
   position: absolute;
   left: 0;
   line-height: 250px;
   text-align: center;
   transition: .4s;
}
.card-home p:hover{
    color: black;
    background-color: white;
    opacity: .8;
}

footer{
    background-color: #212226;
    height: 300px;
}

.redes-sociais{
    background-color: white;
    width: 180px;
    display: flex;
    align-items: center;
    position: fixed;
    right: -50px;
    top: 70%;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    color: black;
    transition: .7s;
}
.redes-sociais:hover{
    right: 0;
}
[name="logo-youtube"]{
    color: red;
    font-size: 35px;
    
}


.tempo-navegacao{
    background: rgb(175, 240, 202);
    width: 220px;
    position: fixed;
    left: -40px;
    top: 70%;
    transition: 1s;
}
.tempo-navegacao:hover{
    left: 0;
}
.simplebook{
    background: white;
    width: 200px;
    color: black;
    position: fixed;
    left: -50px;
    top: 50%;
    transition: 1s;
}
.simplebook:hover{
    left: 0;
}

.reacoes-post{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}